@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CreatePages";
}
 <form method="post" action="">
    <fieldset>
        <legend>Create new page</legend>
        <div>
            <label>Title:</label>
        </div>
        <div>
            <input name="Title" type="text" size="50" value="" />
        </div>
        <div>
            <label>Contente</label>
        </div>
        <div>
            <textarea id="content" name="content" rows="5" cols="33">
                Write your text input here.
            </textarea>
        </div>
        <div>Logo:</div>
        <div>
            <input type="file" id="logo" name="logo" accept="image/png, image/jpeg">
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Enregistrer" class="submit" />
        </div>
    </fieldset>

</form>