@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ModifyPages";
}
[7:59 PM, 10/28/2020] Mortez☘️: <h1>ModifyPages</h1>
<table>
    <thead>
        <tr>
            <th>PageId</th>
            <th>pageTitle</th>
            <th>Date_of_Creation</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a>AboutEventCatalyst</a></td>
            <td>30/03/2019</td>
            <th><input type="submit" value="Delete" class="Delete" /></th>
            <th><a href="#">Modify</a></th>
        </tr>
        <tr>
            <td>2</td>
            <td><a>Contact to Us</a></td>
            <td>12/05/2019</td>
            <th><input type="submit" value="Delete" class="Delete" /></th>
            <th><a href="#">Modify</a></th>
        </tr>
        <tr>
            <td>3</td>
            <td><a>How to buy our Plateform</a></td>
            <td>12/05/2019</td>
            <th><input type="submit" value="Delete" class="Delete" /></th>
            <th><a href="#">Modify</a></th>
        </tr>
        <tr>
            <td>1</td>
            <td><a>Hello Page</a></td>
            <td>30/03/2018</td>
            <th><input type="submit" value="Delete" class="Delete" /></th>
            <th><a href="#">Modify</a></th>
        </tr>
    </tbody>
</table>